extends layout

block content
  div(class="center")
    h1="Welcome to chatter"
    h3="Please type your nickname to go on:"

    form(action="/chat", method="post")
      div(class="row")
        input(type="text", name="nickname", placeholder="Type your name here...", class="text-input")
      div(class="row")
        input(type="submit", class="button-primary", value="Go chatting!", id="submitButton")